@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
:root [data-theme='crimson'] {
	--theme-font-family-base: 'nunito', sans-serif;
	--theme-font-family-heading: 'nunito', sans-serif;
}
@font-face {
	/* Reference name */
	font-family: 'nunito';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('fonts/Nunito-VariableFont_wght.ttf');
}
